@charset "utf-8";

::selection {background-color: #c89979; color: #fff;}
-moz-::selection {background-color: #c89979; color: #fff;}
*, *::before, *::after {margin: 0; padding: 0; outline: none; max-height: 99999px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0,0,0,0);}
html {font-size: 100%;}
html, body {height: 200%;}
body {font-family: 'Rubik', sans-serif; font-weight: 400; font-size: 16px; line-height: 1.75; color: #222; min-width: 320px; position: relative; min-height: 1px; overflow-x: hidden; overflow-y: auto; -webkit-text-size-adjust: 100%;}
a {text-decoration: none; color: inherit; text-decoration-skip-ink: none;}
a:hover {text-decoration: none; color: #c89979;}
ul, ol {list-style: none;}
a img {border: none;}
img {max-width: 100%; height: auto; vertical-align: middle;}
input[type=text], input[type=email], input[type=password], input[type=tel], input, textarea, button, select {box-shadow: none; -webkit-box-shadow: none; -webkit-appearance:none; -moz-appearance:none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
button {border: none; cursor: pointer; background-color: transparent; display: inline-block; vertical-align: middle;}
input, textarea, button, select {font-size: inherit; font-family: inherit; font-weight: inherit; border: none; -webkit-appearance: none;}
select {width: 100%;  background-color: transparent; background-color: rgba(255, 255, 255, 0); cursor: pointer;}
select::-ms-expand {display: none;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
input[type=number] {-ms-touch-action: manipulation; touch-action: manipulation; -webkit-appearance: textfield; -moz-appearance: textfield; appearance: textfield;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
header, section, footer, aside, nav, main, article, figure {display: block;}
[data-target] {cursor: pointer;}

a, a::before, a::after, img, path, button, button::before, button::after, .btn, label, input, ::-webkit-input-placeholder, .prev, .next, .cards__inner {-ms-transition: all .3s; transition: all .3s;}

.swiper-container.swiper-container-visible {overflow: visible;}
.swiper-container-multirow-column>.swiper-wrapper {flex-direction: row; flex-wrap: nowrap;}
.swiper-wrapper {z-index: 10;}
.swiper-slide {opacity: 0; visibility: hidden; width: auto; transition: opacity .3s, visibility .3s, transform .3s!important;}
.swiper-slide-visible {opacity: 1; visibility: visible;}
.prev, .next {height: 44px; width: 44px; background: #f7f7f7 no-repeat center; cursor: pointer; -ms-border-radius: 50%; border-radius: 50%;}
.prev {background-image: url(../img/svg/arrow-small-left.svg);}
.next {background-image: url(../img/svg/arrow-small-right.svg);}
.prev--primary, .next--primary {position: absolute; top: 126px; z-index: 50;}
.prev--primary {left: -2px;}
.next--primary {right: -2px;}
.prev--center, .next--center {top: 50%; margin-top: -22px;}
.prev--white, .next--white {background-color: #fff;}
.prev--white:hover, .next--white:hover {background-color: #f7f7f7;}
.prev--collection {left: 21px;}
.next--collection {right: 21px;}

.text-left {text-align: left!important;}
.text-center {text-align: center!important;}
.text-right {text-align: right!important;}
.text-justify {text-align: justify!important;}
.text-uppercase {text-transform: uppercase;}
::-webkit-input-placeholder {color: inherit;}
input:focus::-webkit-input-placeholder {text-indent: 120%;}
textarea:focus::-webkit-input-placeholder {opacity: 0;}
:-webkit-autofill {box-shadow: inset 0 0 0 50px #eee!important; font-family: inherit; -webkit-text-fill-color: #33444C;}

.btn {border: 1px solid transparent; cursor: pointer; font-weight: 700; position: relative; z-index: 1; font-size: 12px; line-height: 1; padding-left: 15px; padding-right: 15px; letter-spacing: .8px; white-space: nowrap; text-align: center; text-transform: uppercase; vertical-align: top; display: inline-flex; justify-content: center; align-items: center;}
.btn--default {color: #fff; background-color: #c89979;}
.btn--default:hover {background-color: #ae8875; color: #fff;}
.btn--primary {color: #c89979; background-color: #fff; border-color: #e3e2e1;}
.btn--primary:hover {background-color: #e3e2e1;}
.btn--fluid {width: 100%;}
.btn--min-width {min-width: 232px;}
.btn--sm {height: 46px;}
.btn--md {height: 52px;}
.btn--lg {height: 60px;}
.btn__icon {margin-right: 10px; margin-left: -10px; height: 18px; width: 18px;}

/*page*/
.page {background-position: top center; background-repeat: no-repeat;}

/*page row*/
.page__row {background: no-repeat top center;}
.page__row--wrapper {min-height: 100vh; position: relative; z-index: 160;}
.page__row--nav {background-color: #c89979;}
.page__row--intro {color: #bfbfbf; margin-bottom: 26px; position: relative;}
.page__row--bg-gray {background-color: #f7f7f7;}
.page__row--footer {background-color: #222; color: #8a8a8a; position: relative; z-index: 50;}

/*page cell*/
.page__cell, .intro__cell {width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;}
.page__cell--relative {position: relative;}
.page__cell--fluid {max-width: 100%!important; padding-left: 0!important; padding-right: 0!important;}

/*header*/
.header {height: 97px; display: flex; align-items: center;}
.header__hamburger {display: none;}
.header__brand {margin-right: 6.45%; max-width: 15%; flex: 1 1 15%;}
.header__search {padding-top: 1px; margin-right: 3.7%; max-width: 22.6%; flex: 1 1 22.6%;}
.header__contact {margin-right: 2.9%; min-width: 342px;}
.header__city {margin-right: 2.4%;}
.header__auth {padding-top: 4px; font-size: 12px; margin-right: 2.3%;}
.header__cart {padding-bottom: 5px;}
.brand {display: inline-block; vertical-align: middle; padding-bottom: 5px; width: 100%;}
.brand--footer {opacity: .19;}
.brand--footer:hover {opacity: 1;}
.search {width: 100%;}
.search__input-wrapper {background: #f4f4f4 url(../img/svg/search.svg) no-repeat 20px 12px;}
.search__input {height: 45px; padding-left: 55px; background-color: transparent; font-size: 15px; width: 100%; line-height: 45px; border: 1px solid #f2f2f2; color: #a09f9f;}
.contact__wrapper {display: flex; justify-content: space-between; align-items: center;}
.contact__left {padding-bottom: 7px; margin-right: 5%;}
.contact__right {padding-bottom: 3px;}
.contact__tel {font-weight: 700; letter-spacing: .2px; font-size: 18px; color: #111; line-height: 1; white-space: nowrap;}
.contact__text {font-size: 13px; letter-spacing: .4px; color: #7b7b7b; line-height: 1; white-space: nowrap;}
.contact__link {height: 46px; line-height: 44px; color: #414141; display: block; border: 1px solid #e3e2e1; font-size: 14px; padding: 0 26px; white-space: nowrap;}
.city__select-wrapper {padding-left: 10px; background: url(../img/svg/loc.svg) no-repeat 0 2px; position: relative; z-index: 1;}
.city__select-wrapper::after, .sort__select-wrapper::after {content: ''; height: 5px; width: 8px; background: url(../img/svg/arrow-small-bottom.svg) no-repeat top left; position: absolute; right: 0; top: 50%; margin-top: -3px; z-index: -1;}
.city__select {border: none; width: 100%; height: 28px; font-size: 14px; padding-left: 20px; padding-right: 21px;}
.auth__link {text-transform: uppercase; color: #111; font-weight: 700; letter-spacing: .8px;}
.auth__slash {margin: 0 6px;}
.icon--cart {background: url(../img/svg/cart-1.svg) no-repeat top left; height: 24px; width: 25px; display: block; position: relative; -ms-background-size: 100% 100%; background-size: 100% 100%;}
.icon--cart::after {content: attr(data-cart-num); padding: 0 5px; min-width: 16px; height: 16px; line-height: 16px; text-align: center; font-size: 10px; color: #fff; background-color: #c89979; position: absolute; right: -6px; bottom: -3px; -ms-border-radius: 9px; border-radius: 9px; display: block;}

/*nav*/
.nav__top, .nav__auth, .nav__search, .nav__contact {display: none;}
.nav__menu {font-size: 14px; font-weight: 700; text-transform: uppercase; white-space: nowrap; display: flex;}
.nav__item {margin-right: 3.15%;}
.nav__item:last-of-type {margin-right: 0;}
.nav__link {color: #fff; display: block; height: 61px; line-height: 61px; padding: 0 11px; letter-spacing: 1px;}
.nav__link:hover {background-color: #bf9374; color: #fff;}

/*intro*/
.intro-nums {position: absolute; z-index: 600; color: #fff;}
.intro-nums .swiper-slide .intro-nums__span {opacity: .37; display: block; font-weight: bold; -ms-transition: opacity .3s linear; transition: opacity .3s linear;}
.intro-nums [class="swiper-slide swiper-slide-visible"] .intro-nums__span {opacity: .17;}
.intro-nums .swiper-slide-active .intro-nums__span {opacity: 1;}
.intro-nums__num::before, .intro-nums__num::after {-ms-transition: background-color .3s linear, transform .3s linear; transition: background-color .3s linear, transform .3s linear;}
.intro-nums__num::before {content: attr(data-intro-num); -ms-transform: perspective(1000px) translateX(0); transform: perspective(1000px) translateX(0);}
.intro-nums__num::after {content: ''; -ms-transform: perspective(1000px) scaleX(1); transform: perspective(1000px) scaleX(1);}
.intro-nums .swiper-slide-active .intro-nums__num::before, .intro-nums .swiper-slide-active .intro-nums__num::after {transition-delay: .2s;}

.intro__nav {position: absolute; right: 0; bottom: 40px; z-index: 200; display: flex;}
.prev--intro {margin-right: 12px;}
.intro__cell {overflow: hidden; display: flex;}
.intro__item {position: relative; z-index: 1; background: no-repeat top center; height: 627px; -ms-background-size: cover; background-size: cover;}
.intro__item::before {content: ''; height: 100%; width: 100%; background: url(../img/intro-overlay.png) no-repeat top left; position: absolute; left: 0; top: 0; z-index: -1; -ms-background-size: cover; background-size: cover;}
.intro__image {position: relative; z-index: 1; margin-left: 30px; margin-top: 41px; padding-right: 22px; padding-top: 6px; height: 538px; width: 538px; display: flex; justify-content: center; align-items: center; -ms-background-size: 100% 100%; background-size: 100% 100%;}
.intro__image::before {content: ''; display: block; height: 100%; width: 100%; background: url(../img/svg/clocl-circle.svg) no-repeat center;  position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%); right: 0; z-index: -2; -ms-background-size: 100% 100%; background-size: 100% 100%;}
.intro__picture {max-width: 555px;}
.intro__percent {color: #222; text-align: center; display: block; position: absolute; right: 95px; top: 120px; font-size: 18px; line-height: 106px; font-weight: bold; background-color: #fff; height: 106px; width: 106px; z-index: 5; -ms-border-radius: 50%; border-radius: 50%; opacity: 0; transform: perspective(1000px) scale(.95); -ms-transition: transform .3s linear, opacity .3s linear; transition: transform .3s linear, opacity .3s linear;}
.swiper-slide-active .intro__picture.aos-animate ~ .intro__percent {opacity: 1; transform: perspective(1000px) scale(1); transition-delay: 1s;}
.intro__content {padding-top: 120px; padding-right: 175px; padding-bottom: 30px; max-width: 719px; width: 100%; margin-left: auto; position: relative; z-index: 1;}
.intro__content::before {content: ''; height: 117px; width: 128px; background: url(../img/svg/discs.svg) no-repeat top left; position: absolute; left: -51px; top: 78px; z-index: -1;}
.intro__discount {color: #a6a6a6; font-size: 18px; font-weight: 300; margin-bottom: 10px; letter-spacing: .15px;}
.intro__discount-span {color: #c89979;}
.intro__title {color: #fff; margin-left: -3px; letter-spacing: .5px;}
.title {font-weight: 700;}
.title--h1 {font-size: 78px; line-height: 1; margin-bottom: 12px;}
.title--h2 {font-size: 36px; line-height: 1;}
.title--h4 {font-size: 28px; line-height: 1;}
.intro__desc {line-height: 1.375; font-weight: 300; padding-bottom: 16px; min-height: 165px;}
.intro__btn {margin-bottom: 83px;}
.intro__social {position: relative; display: flex; justify-content: flex-end;}
.intro__social::before {content: ''; border-bottom: 1px solid #c89979; opacity: .33; position: absolute; left: 0; right: 90px; top: 50%; margin-top: -2px;}
.social--footer {padding: 15px 4px;}
.social__items {margin-left: -8px; margin-right: -8px; display: flex;}
.social__items--secondary {margin-left: -10px; margin-right: -10px;}
.social__item {padding-left: 8px; padding-right: 8px;}
.social__item--secondary {padding-left: 10px; padding-right: 10px;}
.social__link {height: 20px; width: 20px; background: no-repeat center; display: block; -ms-background-size: 100% 100%; background-size: 100% 100%;}
.social__link--instagram {background-image: url(../img/svg/instagram.svg);}
.social__link--instagram.social__link--secondary {background-image: url(../img/svg/instagram2.svg);}
.social__link--facebook {background-image: url(../img/svg/facebook.svg);}
.social__link--facebook.social__link--secondary {background-image: url(../img/svg/facebook2.svg);}
.social__link:hover {opacity: .5;}

/*breadcrumbs*/
.breadcrumbs {padding: 26px 0 19px;}
.breadcrumbs__items {color: #9c9c9c; font-size: 13px; line-height: 1.3077; display: flex; justify-content: center; flex-wrap: wrap;}
.breadcrumbs__item {margin-bottom: 3px;}
.breadcrumbs__item::after {content: '/'; font-size: inherit; color: #cfa88e; display: inline-block; vertical-align: middle; margin-left: 3px; margin-right: 7px;}
.breadcrumbs__item:last-of-type::after {display: none;}
.breadcrumbs__link {color: #7b7b7b;}
.breadcrumbs__link:hover {color: #7b7b7b; text-decoration: underline;}
.breadcrumbs__span {color: #cdcdcd;}
.breadcrumbs__title {font-size: 37px; line-height: 1; padding: 6px 0 2px; letter-spacing: .3px;}

/*section*/
.section--default {padding-bottom: 78px;}
.section__title {padding-top: 66px; margin-bottom: 53px;}
.brands__items {margin-left: -9px; margin-right: -9px; display: flex; justify-content: center; flex-wrap: wrap;}
.brands__item {padding-left: 9px; padding-right: 9px; margin-bottom: 18px; max-width: 16.66666666666667%; flex: 1 1 16.66666666666667%;}
.brands__link {background-color: #fff; height: 150px; display: flex; justify-content: center; align-items: center; -ms-border-radius: 2px; border-radius: 2px; -ms-transform: perspective(1000px) scale(1); transform: perspective(1000px) scale(1);}
.brands__link:hover {-ms-transform: perspective(1000px) scale(1.035); transform: perspective(1000px) scale(1.035);}
.cat__items {margin-left: -15px; margin-right: -15px; display: flex; flex-wrap: wrap;}
.cat__item {padding-left: 15px; padding-right: 15px; margin-bottom: 30px; max-width: 50%; flex: 1 1 50%;}
.cat__link {height: 500px; position: relative; z-index: 1; overflow: hidden; display: flex; justify-content: flex-end; align-items: flex-end;}
.cat__link--female {justify-content: flex-start;}
.cat__bg {background: no-repeat top left; height: 100%; width: 100%; position: absolute; left: 0; top: 0; z-index: -1; -ms-background-size: cover; background-size: cover; -ms-transition: transform .5s ease; transition: transform .5s ease;}
.cat__bg--male {background-position: top left;}
.cat__bg--female {background-position: top right;}
.cat__link:hover .cat__bg {transform: scale(1.1);}
.cat__text {font-size: 28px; height: 130px; width: 220px; color: #222; letter-spacing: 1.5px; line-height: 1.2143; border: 2px solid #000; margin-bottom: 43px; padding: 15px 38px; display: flex; align-items: center;}
.cat__text--male {margin-right: 42px;}
.cat__text--female {margin-left: 42px;}
.view-more {display: none;}
.cards {margin-left: -16px; margin-right: -16px;}
.cards, .cards__item {position: relative; z-index: 101; -ms-transition: z-index .6s; transition: z-index .6s;}
.cards:hover, .cards__item:hover {z-index: 112;}
.cards__items {padding-left: 2px; padding-bottom: 2px; display: flex; flex-wrap: wrap;}
.cards__item {padding-left: 16px; padding-right: 16px;}
.cards__item--cell-4 {max-width: 25%; flex: 1 1 25%;}
.cards__block {height: 440px;}
.cards__inner {padding-bottom: 25px; text-align: center; max-width: 288px; margin-left: auto; margin-right: auto; -ms-transition: background-color .3s linear, box-shadow .3s linear; transition: background-color .3s linear, box-shadow .3s linear;}
.cards__block:hover .cards__inner {background-color: #fff; box-shadow: 0 7px 42px rgba(0, 0, 0, .05)}
.cards__image {border: 1px solid #efefef; background-color: #fff; position: relative; margin-bottom: 20px;}
.cards__link {position: relative; overflow: hidden; min-height: 292px; max-height: 292px; display: flex; justify-content: center; align-items: center;}
.cards__link[data-cards-discount]::before, .cards__link[data-cards-label]::after {color: #fff; font-weight: 300; padding: 0 5px; display: block; position: absolute; height: 30px; line-height: 30px; text-align: center; top: 10px;}
.cards__link[data-cards-discount]::before {content: attr(data-cards-discount); background-color: #000; left: 10px; min-width: 39px; font-size: 12px;}
.cards__link[data-cards-label]::after {content: attr(data-cards-label); right: 10px; min-width: 80px; font-size: 14px;}
.cards__link--novelty[data-cards-label]::after {background-color: #91c78b;}
.cards__link--special-offer[data-cards-label]::after {background-color: #6f63c7;}
.cards__link--bestseller[data-cards-label]::after {background-color: #a19b96; min-width: 93px;}
.cards__picture {max-width: 147px; max-height: 225px;}
.cards__content {padding: 0 20px;}
.cards__title {font-size: 18px; line-height: 1; margin-bottom: 13px; font-weight: 700;}
.cards__span {font-size: 14px; color: #c89979; display: block; line-height: 1; margin-bottom: 3px;}
.cards__price {margin-bottom: 10px; font-weight: 300;}
.cards__hidden {max-height: 0; opacity: 0; font-size: 13px; visibility: hidden; transition: max-height .5s ease-in, opacity .5s ease-in, visibility .5s ease-in;}
.cards__block:hover .cards__hidden {max-height: 300px; opacity: 1; visibility: visible; transition: max-height .5s ease-in, opacity .5s ease-in, visibility .5s ease-in;}
.block {background-color: #f7f7f7; margin-bottom: 33px; display: flex;}
.block__left {max-width: 38.2%; flex: 1 1 38.2%;}
.block__right {max-width: 61.8%; flex: 1 1 61.8%; display: flex; align-items: center;}
.block__image {position: relative;}
.block__image-wrapper {overflow: hidden; padding-right: 30px;}
.block__picture {max-width: none;}
.block__picture-abs {position: absolute; right: 0; top: 0; box-shadow: 0 17px 90px rgba(0, 0, 0, .16);}
.block__content {padding: 59px 50px 58px 43px;}
.block__title {margin-bottom: 36px;}
.text {font-weight: 300;}
.text + .text {margin-top: 28px;}
.card {padding-top: 35px; padding-bottom: 72px;}
.card__header {display: none;}
.card__body {display: flex; flex-wrap: wrap;}
.card__left {max-width: 49%; flex: 1 1 49%;}
.card__right {max-width: 51%; flex: 1 1 51%;}
.card__picture-wrapper {border: 1px solid #f2f2f2; margin-right: 1px; margin-bottom: 28px;}
.card__content {padding-left: 55px; padding-top: 9px; position: relative;}
.card__title {font-size: 32px; font-weight: 700; line-height: 1.2; padding-top: 9px; padding-bottom: 22px; margin-bottom: 19px; border-bottom: 1px solid #f2f2f2;}
.data {position: relative; margin-bottom: 21px;}
.data__item {letter-spacing: .7px; margin-bottom: 10px; display: flex;}
.data__span:first-of-type {width: 193px; font-weight: 300;}
.data__color {color: #c89979;}
.availability {font-size: 11px; color: #2e2e2e; padding-left: 39px; background: url(../img/svg/yes.svg) no-repeat top left; text-transform: uppercase; font-weight: 700; padding-top: 5px; letter-spacing: .6px; min-height: 28px; display: inline-block; vertical-align: top;}
.data__availability {position: absolute; right: 0; top: 7px;}
.card__block {background-color: #fbfbfb; margin-bottom: 25px; padding-top: 29px; padding-left: 29px; padding-bottom: 7px; padding-right: 29px; display: flex;}
.price {font-size: 22px; padding-top: 8px; margin-right: 27px;}
.price__span {margin-left: 5px;}
.btns {margin-left: -12.5px; margin-right: -12.5px; flex: 1 1 auto; display: flex;}
.btns__btn {margin-left: 12.5px; margin-right: 12.5px; margin-bottom: 25px;}
.delivery__text {font-size: 17px; display: block; margin-bottom: 17px;}
.delivery__items {margin-left: -15px; margin-right: -15px; display: flex;}
.delivery__item {padding-left: 15px; padding-right: 15px; margin-bottom: 30px; max-width: 33.3333%; flex: 1 1 33.3333%;}
.delivery__inner {background-color: #fbfbfb; padding: 15px 15px 31px; text-align: center; display: flex; align-items: center; flex-direction: column;}
.delivery__image {height: 72px; line-height: 72px;}
.delivery__to {font-size: 15px; font-weight: 300;}

.pagination {margin-bottom: 57px; padding-top: 19px;}
.pagination__btn {display: none;}
.pagination__items {margin-left: -3.5px; margin-right: -3.5px; font-weight: 300; font-size: 15px; display: flex; justify-content: center;}
.pagination__item {margin-left: 3.5px; margin-right: 3.5px;}
.pagination__link {line-height: 36px; min-width: 38px; border: 1px solid #f2f2f2; -ms-border-radius: 50%; border-radius: 50%;}
.pagination__link, .pagination__ellipsis {background: no-repeat center; display: block; padding: 0 5px; color: #222; text-align: center; height: 38px;}
.pagination__link:hover, .pagination__link--active {color: #222; background-color: #ececec; border-color: #ececec;}
.pagination__link--prev, .pagination__link--next {border: none; background: transparent no-repeat center;}
.pagination__link--prev:hover, .pagination__link--next:hover {background-color: transparent;}
.pagination__link--prev {background-image: url(../img/svg/arrow-left.svg); margin-right: 11px;}
.pagination__link--next {background-image: url(../img/svg/arrow-right.svg); margin-left: 11px;}
.pagination__ellipsis {line-height: 1px; padding-top: 29px; width: 22px;}

/*content*/
.content {margin-top: 23px; position: relative;}
.sidebar__block {border: 1px solid #efefef; margin-bottom: 28px; padding-left: 36px; padding-right: 36px; padding-bottom: 47px;}
.sidebar__block-header {padding: 33px 0 28px;}
.sidebar__title, .sidebar__block-title {text-transform: uppercase; font-weight: 700; letter-spacing: .7px;}
.sidebar__nav-item, .checkbox__item {font-size: 13px; text-transform: uppercase; letter-spacing: .2px;}
.sidebar__nav-item + .sidebar__nav-item {margin-top: 26px;}
.sidebar__nav-link {color: #747474; background: url(../img/svg/sidebar-nav-arrow.svg) no-repeat center right; display: block; padding-right: 25px; -ms-background-size: 18px 7px; background-size: 18px 7px;}
.checkbox__item + .checkbox__item {margin-top: 26px;}
.checkbox__label {display: block;}
.checkbox__input {display: none;}
.checkbox__span {position: relative; display: block; cursor: pointer;}
.checkbox__span::before, .checkbox__span::after {content: ''; height: 19px; width: 18px; display: block; position: absolute; right: 0; top: 0;}
.checkbox__span::before {border: 1px solid #efefef;}
.checkbox__span::after {background: url(../img/svg/checked.svg) no-repeat center; opacity: 0; -ms-transition: opacity .3s ease-in-out; transition: opacity .3s ease-in-out;}
.main {max-width: 100%;}
.checkbox__input:checked ~ .checkbox__span::after {opacity: 1;}
.collection {margin-left: -14px; margin-right: -14px; margin-bottom: 28px; padding-top: 5px;}
.collection__item {padding-left: 14px; padding-right: 14px;}
.collection__link, .collection__link::before {background: no-repeat top left; -ms-background-size: cover; background-size: cover;}
.collection__link {height: 200px; padding: 26px; display: block; position: relative; z-index: 1; color: #fff;}
.collection__link:hover {color: #fff;}
.collection__link::before {content: ''; position: absolute; left: 0; top: 0; z-index: -1; opacity: .6; height: 100%; width: 100%; background: url(../img/collection-overlay.png) no-repeat top left;}
.collection__link:hover::before {opacity: .3;}
.collection__content {height: 100%; padding-bottom: 10px; border: 2px solid #fff; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.collection__span {font-weight: 300; font-size: 17px; margin-bottom: 7px;}
.collection__title {font-size: 26px; font-weight: 700;}
.collection__span, .collection__title {line-height: 1;}
.select-block {background-color: #f4f4f4; margin-bottom: 43px; border: 1px solid #f2f2f2; padding: 19px 19px 6px;}
.select-block__row {margin-left: -7px; margin-right: -7px; display: flex; flex-wrap: wrap;}
.select-block__cell {padding-left: 7px; padding-right: 7px; margin-bottom: 14px; max-width: 16.66666666666667%; flex: 1 1 16.66666666666667%;}
.select-wrapper {background-color: #fff; position: relative; z-index: 1;}
.select-wrapper::after {content: ''; height: 5px; width: 10px; background: url(../img/svg/select-arrow.svg) no-repeat top left; position: absolute; right: 17px; top: 50%; margin-top: -2.5px; z-index: -1;}
.select {border: 1px solid #f2f2f2;height: 45px; line-height: 45px; font-size: 15px; color: #a09f9f; padding-left: 19px; padding-right: 42px;}
.sort {margin-bottom: 21px;}
.sort__wrapper {font-weight: 300; font-size: 14px;}
.sort__text {color: #a09f9f; margin-right: 33px;}
.sort__span {margin-right: 40px;}
.sort__link {color: #c89979; margin-right: 40px;}
.sort__link:hover {color: #c89979; text-decoration: underline;}
.sort__select-wrapper {display: none;}


/*filter*/


/*footer*/
.footer {padding-left: 32px; padding-right: 32px; padding-top: 81px; font-size: 14px;}
.footer__top {padding-bottom: 26px; border-bottom: 1px solid #454545;}
.footer__brand--top {display: none;}
.footer__blocks {margin-left: -10px; margin-right: -10px; display: flex; flex-wrap: wrap;}
.footer__block {padding-left: 10px; padding-right: 10px; padding-top: 7px; max-width: 16%; flex: 1 1 16%;}
.footer__block:first-of-type {padding-left: 17px;}
.footer__block--nav {padding-left: 6.8%; padding-top: 0; max-width: 36%; flex: 1 1 36%;}
.footer__block-header--none {display: none;}
.footer__block-title {font-size: 12px; color: #c89979; text-transform: uppercase; font-weight: 700; line-height: 1.6667; letter-spacing: .8px; margin-bottom: 13px; min-height: 40px;}
.footer__loc, .footer__tel {line-height: 1.4286; margin-bottom: 11px; padding-left: 20px; display: inline-block; vertical-align: top; background-repeat: no-repeat;}
.footer__loc {background-image: url(../img/svg/loc-footer.svg); background-position: 0 3px; max-width: 180px; -ms-background-size: 10px 15px; background-size: 10px 15px;}
.footer__tel {color: #fff; background-image: url(../img/svg/tel-footer.svg); background-position: 0 2px; letter-spacing: -.2px;-ms-background-size: 12px 13px; background-size: 12px 13px;}
.footer__navs {margin-left: -10px; margin-right: -10px; padding-right: 11px; display: flex; justify-content: space-between; flex-wrap: wrap;}
.footer__nav {padding-left: 10px; padding-right: 10px;}
.footer__nav-item {margin-bottom: 18px; letter-spacing: -.2px;}
.footer__bottom {padding-top: 43px; padding-bottom: 93px; display: flex; justify-content: space-between; align-items: flex-end;}
.footer__brand {padding-left: 6px; padding-bottom: 3px; margin-right: 4.25%;}
.footer__text {text-align: left; margin-right: 5%; line-height: 1.8182; letter-spacing: -.15px; font-size: 11px; flex: 1 1 auto;}
.footer__copy {font-size: 12px; padding-bottom: 8px; letter-spacing: -.2px; display: flex;}
.footer__policy {margin-left: 56px;}


boddy {height: 10000px; width: 1920px; overflow: auto;}



/*media queries*/

@media (min-width: 576px) {
    .page__cell, .intro__cell {max-width: 540px;}
}

@media (min-width: 768px) {
    .page__cell, .intro__cell {max-width: 730px;}
}

@media (min-width: 992px) {
    .page__cell, .intro__cell {max-width: 960px;}
    .page__row--top {background-color: #c89979;}
    .page__row--top, .sidebar__header, .sidebar__select-block {display: none;}
    .intro-nums {top: 50%; right: 0; height: 100px; font-size: 14px; margin-top: -72px;}
    .intro-nums__block {height: 100px; width: 282px; transform: rotate(90deg);}
    .intro-nums .swiper-slide .intro-nums__span {padding-top: 20px; padding-bottom: 40px;}
    .intro-nums__num {height: 30px; width: 50px; transform: rotate(-90deg); display: flex; align-items: center; justify-content: flex-end;}
    .intro-nums__num::after {position: relative; left: -3px; top: -2px; display: block; height: 1px; width: 18px; margin-left: 12px; background-color: #e2c1aa; -ms-transform-origin: top right; transform-origin: top right;}
    .intro-nums .swiper-slide-active .intro-nums__num::before {transform: perspective(1000px) translateX(-18px);}
    .intro-nums .swiper-slide-active .intro-nums__num::after {transform: perspective(1000px) scaleX(2);}
    .content {padding-left: 320px;}
    .sidebar {position: absolute; top: 0; left: 0; z-index: 100; width: 100%; max-width: 294px;}
    .sidebar__body, .sidebar__block-body {display: block!important; height: auto!important;}
    .intro__nav {right: calc(50% - 466px);}
    .intro-nums {right: calc(50% - 566px);}
    .collection .swiper-container.swiper-container-visible {overflow: hidden;}
}

@media (min-width: 1200px) {
    .page__cell, .intro__cell {max-width: 1170px;}
    .swiper-container-multirow-column>.swiper-wrapper {flex-direction: column; flex-wrap: wrap;}
    .sticky {position: -webkit-sticky; position: sticky; top: 0; scrollbar-width: none; -ms-overflow-style: -ms-autohiding-scrollbar; -ms-overflow-style: none; overflow: -moz-scrollbars-none; overflow: -moz-scrollbars-none;}
    .sticky::-webkit-scrollbar {display: none;}
    .intro__nav {right: calc(50% - 563px);}
    .intro-nums {right: calc(50% - 666px);}
    .cat__items--primary {margin-left: -12.5px; margin-right: -12.5px;}
    .cat__item--primary {padding-left: 12.5px; padding-right: 12.5px; margin-bottom: 27px;}
    .cat__link--primary {height: 294px;}
    .cat__text--primary {width: 175px; height: 103px; padding-left: 30px; font-size: 23px; margin-bottom: 31px;}
    .cat__text--male.cat__text--primary {margin-right: 35px;}
    .cat__text--female.cat__text--primary {margin-left: 35px;}
}

@media (min-width: 1601px) {
    .page__cell, .intro__cell {max-width: 1600px;}
    .intro__nav {right: calc(50% - 783px);}
    .intro-nums {right: calc(50% - 886px);}
    .cat__bg--primary.cat__bg--male {background-position: 0 53%;}
    .cat__bg--primary.cat__bg--female {background-position: 0 80%;}
}

@media (min-width: 992px) and (max-width: 1600px) {
    .header__brand, .header__search, .header__contact, .header__city, .header__auth {margin-right: 2%;}
    .city__select {font-size: 13px; padding-left: 14px;}
    .header__auth {max-width: 13%; flex: 1 1 13%;}
    .nav__menu {text-align: center; font-size: 13px;}
    .nav__item {margin-right: 0; flex: 1 1 auto;}
    .nav__link {padding-left: 5px; padding-right: 5px;}
    .brands__item {max-width: 20%; flex: 1 1 20%;}
    .brands__link {padding: 15px;}
    .card__left {max-width: 39%; flex: 1 1 39%;}
    .card__right {max-width: 61%; flex: 1 1 61%;}
    .card__block {flex-direction: column;}
    .price {margin-right: 0; margin-bottom: 17px;}
    .select-block__cell {max-width: 25%; flex: 1 1 25%;}
    .cards__item--cell-4 {max-width: 33.333%; flex: 1 1 33.333%;}
    .cat__link {height: 360px;}
    .cat__link--primary {height: 234px;}
    .footer__block {max-width: 25%; flex: 1 1 25%;}
    .footer__block--nav {padding-left: 10px; padding-right: 10px; padding-top: 30px; max-width: 100%; flex: 1 1 100%;}
    .footer__navs {flex-direction: column;}
    .footer__nav-menu {display: flex;}
    .footer__nav-item {margin-bottom: 0; flex: 1 1 25%;}
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header {height: auto;}
    .header__search {max-width: 25.6%; flex: 1 1 25.6%;}
    .header__contact {padding: 10px 0; min-width: auto;}
    .contact__wrapper {flex-direction: column;}
    .contact__link {height: 38px; line-height: 38px;}
    .nav__menu {font-size: 11px;}
    .select-block__cell {max-width: 33.333%; flex: 1 1 33.333%;}
    .cards__item--cell-4 {max-width: 50%; flex: 1 1 50%;}
}

@media (max-width: 1599px) {
    .intro__item {height: 567px;}
    .intro__content {padding-top: 80px; padding-left: 50px;}
    .intro__desc {min-height: 125px;}
    .intro__btn {margin-bottom: 30px;}
    .intro__image {height: 418px; min-width: 355px; max-width: 355px; margin-left: 0; padding-right: 0;}
    .intro__image::before {height: 355px;}
    .intro__picture {max-width: 355px;}
    .intro__percent {height: 76px; line-height: 76px; font-size: 16px; width: 76px; right: 35px;}
    .cat__link::after {content: ''; display: block; height: 100%; width: 100%; background-color: rgba(247, 247, 247, .6); position: absolute; left: 0; top: 0; z-index: -1;}
}

@media (max-width: 1199px) {
    .sticky {width: auto!important;}
    .cards__block--slider {height: 394px;}
    .swiper-disc {position: relative; z-index: 100; transition: z-index .5s linear;}
    .swiper-disc--height {height: 59px;}
    .swiper-wrapper:hover ~ .swiper-disc {z-index: 5; transition: z-index 0s linear;}
    .disc {display: flex; justify-content: center; flex-wrap: wrap;}
    .disc .swiper-pagination-bullet {margin-bottom: 6px;}
    .disc .swiper-pagination-bullet::before {content: ''; display: block; height: 10px; width: 10px; background-color: #eee; margin: 3px; -ms-border-radius: 50%; border-radius: 50%; transition: background-color .3s linear;}
    .disc .swiper-pagination-bullet-active::before {background-color: #c89979;}
    .cat__text {height: 86px; width: 148px; font-size: 18px;}
}

@media (max-width: 991px) {
    body {font-size: 14px; line-height: 1.4286; width: auto;}
    .intro__social::before, .header__search, .header__contact, .header__city, .header__auth, .intro__nav, .intro__content::before, .select-block--mobile-none, .card__title--content, .data__availability, .block__image, .sidebar__body, .sidebar__block-body, .footer__brand--bottom, .footer__block-body {display: none;}
    .page__row--top {background-color: #c89979;}
    .btn--lg {height: 52px;}
    .btn--min-width {min-width: 244px;}
    .page__row--nav {position: absolute; right: 0; top: 0; width: 0; max-width: 0; z-index: 500; height: 100%;}
    .page__row--intro {margin-bottom: 17px;}
    .header {height: 72px;}
    .header__hamburger {display: block; margin-top: 8px;}
    .hamburger {display: block; background: url(../img/svg/hamburger.svg) no-repeat top left; height: 20px; width: 27px;}
    .header__brand {margin: 0 15px; padding-bottom: 3px; text-align: center; max-width: 100%; flex: 1 1 auto;}
    .brand--header {width: 171px;}
    .brand--footer {width: 197px;}
    .header__cart {padding: 8px 4px 0;}
    .icon--cart-header {height: 21px; width: 22px;}
    .icon--cart-header::after {height: 14px; min-width: 14px; line-height: 14px; font-size: 8.78px; padding: 0 2px; right: -4px;}
    .top {color: #fff; padding: 5px 0 7px; display: flex; justify-content: space-between; align-items: center;}
    .top__tel, .top__text {line-height: 1;}
    .top__tel {font-size: 15px; font-weight: 700;}
    .top__tel:hover {color: currentColor;}
    .top__text {font-size: 11px;}
    .top__icons {display: flex;}
    .top__icons-link {height: 36px; width: 36px; margin-left: 11px; background-color: #daae90; -ms-border-radius: 50%; border-radius: 50%; display: flex; justify-content: center; align-items: center;}
    .top__icons-link:hover {background-color: #e0b89d;}
    .nav {position: fixed; right: 0; top: 0; z-index: 600; font-size: 12px; height: 100%; width: 228px; -ms-transform: translate3d(-100%,0,0); -webkit-transform: translate3d(-100%,0,0); transform: translate3d(100%,0,0); -ms-transition: right .5s ease; -webkit-transition: right .6s cubic-bezier(.4,.2,0,1); transition: right .6s cubic-bezier(.4,.2,0,1);}
    .nav.active {right: 228px;}
    .nav__wrapper {padding: 0 19px;  background-color: #fff; height: 100%; position: relative; z-index: 1000; padding-bottom: 50px; max-height: 100%; overflow: auto;}
    .nav__top, .nav__auth, .nav__search, .nav__contact {display: block;}
    .nav__top {padding-top: 14px; margin-bottom: 30px; display: flex;}
    .nav__city {margin-right: 14px;}
    .city__select-wrapper {padding-left: 5px; background-position: 0 4px;}
    .city__select-wrapper::after {right: 4px;}
    .city__select {font-size: 13px;}
    .nav__auth {margin-bottom: 14px;}
    .auth__link {color: #cfa88e;}
    .auth__link:hover {color: #222;}
    .auth__slash {color: #e4e4e4; margin-left: 11px; margin-right: 13px;}
    .nav__menu {margin-left: -19px; margin-right: -19px; margin-bottom: 19px; display: block;}
    .nav__item {margin-left: 0; margin-right: 0; border-top: 1px solid #f4f4f4;}
    .nav__link {font-size: 12px; height: auto; line-height: 1; padding: 12px 0 10px; color: #111; padding-left: 19px; padding-right: 19px;}
    .nav__item:first-of-type .nav__link {padding-top: 16px;}
    .nav__item:last-of-type {border-bottom: 1px solid #f4f4f4;}
    .nav__item:last-of-type .nav__link {padding-bottom: 12px;}
    .nav__search {margin-bottom: 30px;}
    .search__input-wrapper {background-position: 13px 8px; background-size: 14px 14px;}
    .search__input {height: 32px; line-height: 30px; font-size: 11px; padding-left: 38px; padding-right: 15px;}
    .contact__tel {display: inline-block; vertical-align: top; margin-bottom: 6px;}
    .contact__text {margin-bottom: 11px;}
    .contact__link {height: 36px; line-height: 34px; font-size: 12px; text-align: center;}
    .cat__items {margin-bottom: 8px; flex-direction: column;}
    .cat__item {margin-bottom: 15px; max-width: 100%; flex: 1 1 100%;}
    .cat__link--male, .cat__link--female {height: 190px; text-align: center; justify-content: center; align-items: center;}
    .cat__text {margin: 0; padding: 0; justify-content: center;}
    .overlay {background-color: rgba(41, 41, 41, .67); position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: -1; opacity: 0; visibility: hidden; -ms-transition: z-index .3s linear,  opacity .3s linear,  visibility .3s linear; transition: z-index .3s linear,  opacity .3s linear,  visibility .3s linear;}
    .overlay.active {z-index: 500; opacity: 1; visibility: visible;}
    .intro__item {height: 720px; padding-bottom: 90px;}
    .intro__cell {flex-direction: column; align-items: center;}
    .intro__image {margin-top: 38px; margin-bottom: 13px; max-width: 219px; padding-right: 10px; padding-top: 2px; min-width: 1px;}
    .intro__image, .intro__image::before {height: 219px; width: 219px;}
    .intro__picture {max-width: 226px;}
    .intro__percent {height: 44px; line-height: 44px; top: 49px; right: 38px; width: 44px; font-size: 10px;}
    .intro__content {padding: 0; text-align: center;}
    .intro__discount {margin-bottom: 4px;}
    .intro__desc {line-height: 1.5715; min-height: 132px;}
    .intro__btn {margin-bottom: 45px;}
    .intro__social {justify-content: center;}
    .social__items--primary {margin-left: -10px; margin-right: -10px;}
    .social__item--primary {padding-left: 10px; padding-right: 10px;}
    .social__link {height: 26px; width: 26px;}

    .intro-nums {width: 300px; left: 50%; margin-left: -150px; bottom: 24px; top: auto; height: auto; -ms-transform: none; transform: none;}
    .intro-nums .swiper-container {padding: 0 10px;}
    .intro-nums .swiper-slide .intro-nums__num {padding-left: 5px; padding-right: 5px; min-height: 42px; height: 100%; display: flex; align-items: center; justify-content: flex-end;}
    .intro-nums__span {height: 100%; padding-top: 10px;}
    .intro-nums .intro-nums__num {flex-direction: column; align-items: center;}
    .intro-nums .swiper-slide .intro-nums__num::after {height: 12px; margin-top: 4px; width: 1px; background-color: #e2c1aa; margin-left: 0; display: block; transform-origin: bottom center;}
    .intro-nums .swiper-slide-active .intro-nums__num::before {transform: perspective(1000px) translateY(-12px);}
    .intro-nums .swiper-slide-active .intro-nums__num::after {transform: perspective(1000px) scaleY(1.84);}

    .content {display: block;}
    .sidebar {min-width: 100%; max-width: 100%; margin-bottom: 42px;}
    .sidebar__header {padding-top: 24px; padding-bottom: 17px;}
    .sidebar__header, .sidebar__body {margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px; background-color: #f4f4f4;}
    .sidebar__title {letter-spacing: 1.7px;}
    .sidebar__title, .sidebar__block-title {position: relative;}
    .sidebar__title::after, .sidebar__block-title::after {content: ''; display: block; background: no-repeat center; position: absolute; top: 50%; right: 0; -ms-transition: transform .3s linear; transition: transform .3s linear; -ms-background-size: 100% 100%; background-size: 100% 100%;}
    .sidebar__title::after {background-image: url(../img/svg/arrow-bottom.svg); height: 8px; width: 13px; margin-top: -5px;}
    .sidebar__header.active .sidebar__title::after {transform: rotate(180deg);}
    .sidebar__inner {padding-bottom: 8px;}
    .select-block {padding: 0; border: none; margin-bottom: 6px;}
    .select-block__row {margin-left: -5.5px; margin-right: -5.5px;}
    .select-block__cell {padding-left: 5.5px; padding-right: 5.5px; margin-bottom: 9px; max-width: 50%; flex: 1 1 50%;}
    .select {padding-left: 11px; font-size: 13px; padding-right: 30px;}
    .sidebar__block {background-color: #fff; margin-bottom: 20px; padding: 0;}
    .sidebar__block-header {padding: 27px 33px 19px;}
    .sidebar__block-title {font-size: 15px; letter-spacing: 1.7px;}
    .sidebar__block-title::after {background-image: url(../img/svg/plus.svg); height: 17px; width: 17px; margin-top: -12px;}
    .sidebar__block-header.active .sidebar__block-title::after {background-image: url(../img/svg/minus.svg);}
    .sidebar__block-inner {padding-left: 33px; padding-right: 33px; padding-bottom: 42px;}
    .main {padding-left: 0;}
    .cards__item--cell-4 {max-width: 33.333%; flex: 133.333%;}
    .collection {margin-left: -9px; margin-right: -9px; margin-bottom: 18px;}
    .collection__item {padding-left: 9px; padding-right: 9px;}
    .collection__link {height: 124px; width: 245px; padding: 17px;}
    .collection__content {padding-bottom: 6px;}
    .collection__span {font-size: 12px; margin-bottom: 5px;}
    .collection__title {font-size: 16px;}
    .collection .swiper-slide {flex: 0 1 auto; opacity: 1; visibility: visible;}
    .swiper-nav--collection {display: none;}
    .sort {margin-bottom: 18px;}
    .sort__wrapper {display: flex; justify-content: space-between; align-items: center;}
    .sort__span, .sort__link {display: none;}
    .sort__select-wrapper {display: block; position: relative;}
    .sort__select-wrapper::after {right: 5px;}
    .sort__select {padding-right: 20px;}

    .section--default {padding-bottom: 36px;}
    .section__title {padding-top: 59px; margin-bottom: 55px;}
    .section__title--first {padding-top: 35px; margin-bottom: 34px;}
    .title--h1 {font-size: 52px; margin-bottom: 9px;}
    .title--h2 {font-size: 32px; margin-bottom: 24px;}
    .title--h4 {font-size: 24px;}
    .brands__items {margin-left: -5px; margin-right: -5px;}
    .brands__item {padding-left: 5px; padding-right: 5px; margin-bottom: 10px; max-width: 33.333%; flex: 33.333%;}
    .brands__link {height: 80px;}
    .brands__picture {max-width: 80%;}

    .breadcrumbs {padding: 18px 0 0;}
    .breadcrumbs__title {font-size: 32px; padding-top: 0; padding-bottom: 19px;}
    .cards__block--catalog {height: 414px;}
    .cards__price--catalog {font-size: 16px; padding-top: 3px;}

    .pagination {padding-bottom: 37px; margin-bottom: 0;}
    .pagination__btn {display: block;}
    .pagination__items {display: none;}

    .card {padding-top: 0; padding-bottom: 0;}
    .card__header {display: block; padding-bottom: 7px; position: relative; z-index: 1; text-align: center;}
    .card__header::before {content: ''; height: 100%; width: 150vw; position: absolute; left: -35vw; background-color: #f7f7f7;z-index: -1;}
    .card__title {font-size: 28px; line-height: 1.1429; padding-top: 0; border-bottom: none; padding-bottom: 7px; margin-bottom: 0;}
    .availability {font-size: 11px; min-width: 25px; padding-left: 29px; -ms-background-size: 20px 20px; background-size: 20px 20px;}
    .card__body {padding-top: 25px;}
    .card__left, .card__right {max-width: 100%;}
    .card__left {margin-bottom: 17px;}
    .card__image-wrapper {margin-left: -15px; margin-right: -15px;}
    .card__image {max-width: 320px; margin-left: auto; margin-right: auto;}
    .card__picture-wrapper {max-height: 255px; overflow: hidden; margin-bottom: 16px;}
    .card__content {padding-left: 0; padding-top: 0;}
    .data {font-size: 13px;}
    .data__item {margin-bottom: 14px;}
    .data__span:first-of-type {width: 130px;}
    .card__block {display: block; padding-top: 11px; text-align: center; margin-bottom: 11px; padding-left: 15px; padding-right: 15px; margin-left: -15px; margin-right: -15px;}
    .price {display: block; padding-top: 0; margin-right: 0; margin-bottom: 10px;}
    .btns {display: block; margin-left: 0; margin-right: 0;}
    .btns__btn {margin-bottom: 10px; margin-left: 0; margin-right: 0;}
    .delivery__text {font-size: 14px; margin-bottom: 17px; text-align: center;}
    .delivery__items {margin-left: -6px; margin-right: -6px;}
    .delivery__item {padding-left: 6px; padding-right: 6px;}
    .delivery__inner {padding: 0 6px 8px;}
    .delivery__image {height: 42px; line-height: 46px; padding: 0 10px;}
    .delivery__to {font-size: 10px;}

    .block {display: block; padding: 15px; margin-bottom: 0; margin-left: -15px; margin-right: -15px;}
    .block__right {max-width: 100%;}
    .block__content {padding: 24px 0;}
    .text + .text {margin-top: 20px;}


    .footer {padding-top: 29px; padding-left: 0; padding-right: 0;}
    .footer__top {border-bottom: none; padding-bottom: 21px;}
    .footer__brand {margin-right: 0; text-align: center; padding-left: 0; padding-bottom: 27px;}
    .footer__brand--top {display: block;}
    .footer__blocks {margin-left: -15px; margin-right: -15px;}
    .footer__block, .footer__block--nav {max-width: 100%; flex: 1 1 100%;}
    .footer__block {border-bottom: 1px solid #454545; padding-left: 0; padding-right: 0; padding-top: 0;}
    .footer__block:first-of-type {border-top: 1px solid #454545; padding-left: 0;}
    .footer__block-header {font-size: 12px; line-height: 1.6667; padding-left: 15px; padding-right: 35px; padding-top: 5px; padding-bottom: 7px; position: relative; z-index: 1;}
    .footer__block-header::after {content: ''; height: 13px; width: 8px; background: url(../img/svg/footer-arrow.svg) no-repeat top left; position: absolute; right: 17px; top: 50%; margin-top: -6.5px; -ms-transition: transform .2s linear; transition: transform .3s linear; -ms-background-size: 10px 13px; background-size: 10px 13px;}
    .footer__block-header.active::after {transform: rotate(90deg);}
    .footer__block-header:hover {color: #a1a1a1;}
    .footer__block-header--none {display: block;}
    .footer__block-title {margin-bottom: 0; display: flex; align-items: center;}
    .footer__block-content {max-width: 100%; padding-left: 15px; padding-right: 15px; padding-top: 9px;}
    .social--footer {padding: 7px 0 21px;}
    .social__items--secondary {margin-left: -15px; margin-right: -15px;}
    .social__item--secondary {padding-left: 15px; padding-right: 15px;}
    .social__link.social__link--secondary {height: 30px; width: 30px;}
    .footer__loc {margin-right: 10px;}
    .footer__navs {font-size: 14px; flex-wrap: nowrap;}
    .footer__bottom {display: block; text-align: center; padding-top: 0; padding-bottom: 21px;}
    .footer__text {margin-right: 0; font-size: 11px; line-height: 1.4546; margin-bottom: 27px; text-align: inherit;}
    .footer__copy {flex-direction: column;}
    .footer__copy-text {order: 2;}
    .footer__policy {margin-left: 0; margin-bottom: 27px; order: 1;}
}

@media (max-width: 767px) {
    .card__body {padding-top: 0;}
    .cards__item--cell-4 {max-width: 50%; flex: 1 1 50%;}
}

@media (max-width: 575px) {
    .prev, .next {display: none;}
    .cards__item--cell-4 {max-width: 100%; flex: 1 1 100%;}
    .view-more {display: block;}
    .view-more--cards {padding-left: 16px; padding-right: 16px;}
    .swiper-wrapper--cards-main {display: block!important;}
    .swiper-slide--cards-main {opacity: 1; visibility: visible;}
    .swiper-nav--cards-main, .swiper-disc--cards-main {display: none;}
}